/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Courier New', Courier, monospace;
    margin: 0 auto;
    padding:20px;
    background-color:#dadae3;
}

/*navigation styling*/
.nav-container{
    background-color:#a69eb0;
    width:100%;
    top:0;
    position:fixed;
    height:2rem;
}

.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top:0.5rem;
}

.main-nav a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:#450920;
}

.main-nav a:hover{
    color: #efd3d7;
}


.header{
    text-align: center;
    margin:4rem 0;
}

.header h1,h2{
    color: #450920;
}

/*main content styling*/
.main-content{
    max-width:800px;
    margin: 0 auto;
}

.about-section, .projects-section, .contact-section{
    background-color: 	#efeff2;
    padding:2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

img{
    max-width: 100%;
    height:auto;
    display:block;
    margin: 20px auto;
    border-radius: 8px;
    border-color: #8e9aaf;
}

.contact-section h2{
    text-align: center;
}
.about-section p {
    color: #450920;
    text-align: justify;
}

/*footer styling*/
.footer{
    text-align: center;
    padding: 2rem;
    background-color: #a69eb0;
    color: white;
    margin-top: 2rem;
    bottom:0;
}
  