.header {
  margin: 30px;
}

.navlinks-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-links {
  padding: 10px;
}
