.header {
  /* padding: 20px; */
}

.navlinks-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 10px 20px;
}

.navbar-links {
  padding: 10px;
  font-size: larger;
}

.main {
}

.about-section h1 {
  text-align: center;
}

/*about me section with h2 and about-me container*/
.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  padding: 40px;
}

.about-container p {
  max-width: 400px;
  padding: 25px 0px;
}

/*projects container wih each project card*/
.projects-container {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-card {
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}
/*pseudo-class function to change the size of the first project card*/
.project-card:first-child {
  width: 100%;
}
.project-card img {
  width: 100%;
}
.contacts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.contact-links {
  padding: 20px;
}
.footer {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

/*media query properties for different viewport sizes*/

/* x-small devices*/
@media screen and (max-width: 576px) {
}

/*small devices*/
@media screen and (max-width: 768px) {
}

/*medium devices*/
@media screen and (max-width: 992px) {
}

/*large devices*/
@media screen and (max-width: 1200px) {
}

/*extra large devices*/
@media screen and (max-width: 1400px);
